Goals:
  * Examine variation in dose per frame with pulse rate
    * Vary the pulse rate while keeping all other parameters still. Should probably get at least 30, 15, and 7.5 fps.
  * Generate a DICOM-SR procedure that can be released without any anonymization.